:root {
  color: #eaeaea;
  background-color: #1a1a1a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#app {
  margin: auto;
  text-align: center;
}

table {
  border: 1px solid #eaeaea;
  border-collapse: collapse;
  margin: 0 0 2rem 0;
}

td:not(.prac), th {
  padding: 1rem;
  border: 1px solid #eaeaea;
}

td.prac {
  padding: 0rem !important;
}

td, th {
  font-weight: 600;
}

td.prac div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

td.prac div div {
  width: 100%;
  height: 100%;
  padding: 0.5em;
}

td.prac div div:not(:last-child) {
  border-right: 1px solid #eaeaea;
}

.break {
  margin: 1em 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: larger;
  letter-spacing: 1em;
}

.teachers-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: start;
  text-align: left;
  height: 100%;
}

.teachers-container > div {
  height: inherit;
  padding: 1rem;
  border-left: 1px solid #eaeaea;
  border-collapse: collapse;
}

.teachers-container > div:last-child {
  border-right: 1px solid #eaeaea;
}

.teachers-container div div:first-child {
  width: 100%;
  margin-bottom: 1rem;
  color: burlywood;
}


.teachers-container div div {
  margin: 0.5rem 0;
}

.today {
  background-color: purple;
}

.current {
  background-color: brown;
}